{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <style>
        body {

            background-repeat: no-repeat;
            background: rgb(126,123,191);
            background: linear-gradient(180deg, rgba(126,123,191,1) 100%);
            text-align: center;
        }


        h1
        {
            color:black;
            vertical-align: middle;
        }
    </style>

    <div>
   <h1 class="gras_italique_serif">
       Bienvenue sur notre page
   </h1>
    </div>
    <div class="mb-5 ml-5">
        <a href="/login">
            <button type="button" class="btn btn-dark">Se connecter</button>
        </a>
    </div>

            <ul class="navbar-nav mr-auto" style="font-size:20px;">
                <li class="nav-item">
                    <a class="nav-link" href="/article"> Article <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/users">Utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/statistiques">Statistiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/motivation">Motivation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faits">Faits</a>
                </li>
            </ul>
            <span class="navbar-text">
                <button type="button" href="/connection" class="btn btn-primary btn-lg">
                    Connection
                </button>

    </span>
        </div>
    </nav>
{% endblock %}
