{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
    <style>
        body {

            background-repeat: no-repeat;
            background-color: #003f5c;
            background-color: #465881;
            text-align: center;
        }

        h1 {
            color: black;
            text-align:center;
            font-size: 60px;
            margin-top: 30px;
        }
        .btn
        {
            margin-top: 130px;
            width: 200px;
            height: 50px;
        }
        .desc
        {
            margin-top: 120px;
            font-size: 20px;
        }
        .slogan
        {
            margin-top: 80px;
            color:#fb5b5a;
            font-size: 70px;
        }
    </style>


    <div>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">

                        </br>

                        <button class="btn btn-primary btn-lg">
                            Logout
                        </button>
                    </a>

                </div>


            </div>
        </div>
    </div>
    {% else %}
        <div class="container">






        <h1>Bienvenue sur QuitTogether!</h1>
<div class="desc">
    QuitTogether est une application mobile qui permet a ses utilisateurs d'arreter ou de diminuer la cigarette. </br>
    Notre but est d'apporter une plateforme aux personnes qui souhaitent se débrasser de cette addiction qui est la cigarette.</br>
    Et de les aider dans leur aventure pour accomplir ce but.</br>
    Pour l'instant ce site n'est destiné qu'a l'administration de l'application. </br>
    Notre plateforme est seulement destiné pour les mobiles, alors je vous invite a télécharger l'application "QuitTogether".</br>
</div>
            <div class="col-md-2 offset-md-5">
                <a href="/login">
                    <button type="button" class="btn btn-dark">Se connecter</button>
                </a>
            </div>
            <div class="slogan">
                Quit together for a better future.
            </div>
    </div>

{% endif %}
{% endblock %}
