{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
<style>
    body {

        background-repeat: no-repeat;
        background-color: #003f5c;
        margin-top: 50px;
        color: #fb5b5a;
        text-align: center;
    }
    h1
    {
        color: #fb5b5a;
    }
    .btn
    {
        margin-top: 20px;
    }
    </style>
    <h1>Créer un nouvel article</h1>

    {{ include('blog/_form.html.twig') }}
<button type="button" class="btn btn-dark">
    <a href="{{ path('blog_index') }}">Retourner a la liste</a>
</button>
{% endblock %}
