{% extends 'base.html.twig' %}

{% block title %}Modifier un Utilisateur{% endblock %}

{% block body %}
    <style>
        body {

            background-repeat: no-repeat;
            background-color: #003f5c;
            margin-top: 50px;
            color: #fb5b5a;
            text-align: center;
        }
        .table td
        {
            border:none;
            color: #fb5b5a;
        }
        .table th
        {
            border:none;
            color: #fb5b5a;
        }
        h1
        {
            color: #fb5b5a;
            font-size: 80px;
        }
        .btn
        {
            margin-top: 20px;
        }
    </style>

    <h1>Modifier Utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
<button class="btn btn-dark">
    <a href="{{ path('user_index') }}">Retourner a la liste</a>
</button>

{% endblock %}
