{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <style>
        body {

            background-repeat: no-repeat;
            background-color: #003f5c;
            margin-top: 50px;
            color: #fb5b5a;
            text-align: center;
        }
        h1
        {
            color: #fb5b5a;
        }
        .btn
        {
            margin-top: 20px;
        }
    </style>
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}
<button type="button" class="btn btn-dark">
    <a href="{{ path('user_index') }}">Back to the list</a>
</button>
{% endblock %}
